* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main {
  display: flex;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
