* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/001/226/748/original/colorful-sunset-sky-free-photo.jpg ");
  background-repeat: cover;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: whitesmoke;
}
label {
  font-size: x-large;
  color: rgb(25, 64, 6);
  padding: 20px;
  font-family: "Libre Baskerville", serif;
  font-weight: bolder;
}
input {
  border-radius: 15px;
  min-height: 40px;
  min-width: 90px;
  text-align: center;

  box-shadow: 4px 5px 15px rgb(33, 120, 226);
}

.section {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  border: 3px solid rgba(244, 244, 244, 0.6);
  border-radius: 30px;
  padding: 20px;
}

.section h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: xx-large;
  text-align: center;
}

.condition-text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}

.temperature {
  font-size: x-large;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.humidity {
  text-align: center;
}
.wind-speed {
  text-align: center;
}

.country {
  text-align: center;
}

.condition {
  width: 100px;
  height: 100px;
}

.pexel-img {
  margin-top: 20px;
  width: 300px;
  height: 170px;
  padding-left: 20px;
}
